body{
    width: 700px;
    text-align: justify;
}

.ambas{
    margin: 20px;
}
.clear{
    clear: both;
}
.parrafo2{
    width: 40%;
    float: right;
}
.foto{
    margin-right: 5%;
    float: left;
    
}